<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cnic.cjh.spider.weibo.bean.BriefNews">
	<insert id="insertBriefNews" flushCache="true" useGeneratedKeys="true">
		insert into weibo_top_summary(date,filtered,filtered_words,search_times,log_id,title)
		values (#{date},#{filtered},#{mapped_words},#{clickTimes},#{log_id},#{title})
	</insert>
</mapper>